<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028942581051-2p2qbhp6bl93kfa6sbj0pbcm82l3c11l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028942581051-2p2qbhp6bl93kfa6sbj0pbcm82l3c11l</string>
	<key>API_KEY</key>
	<string>AIzaSyAnqdDt06CS_wjo-BTX6VN3ccFeRUsE8p0</string>
	<key>GCM_SENDER_ID</key>
	<string>1028942581051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuwaichun.fyp</string>
	<key>PROJECT_ID</key>
	<string>cityufyp-347912</string>
	<key>STORAGE_BUCKET</key>
	<string>cityufyp-347912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028942581051:ios:21b6db7a6fb40343a97b1e</string>
</dict>
</plist>